body {
    background-color: #ece9e6;
    font-family: "Montserrat", sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 15px auto;
    padding: 0 15px;
  }
  
  .todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
    margin: 15px auto;
  }
  .todo_text {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 4px;
    border: 1px solid #8e9eab;
    padding: 6px 34px 6px 10px;
    width: 225px;
  }
  .todo_btn {
    height: 34px;
    width: 150px;
    font-size: inherit;
    line-height: inherit;
    border-radius: 4px;
    border: 1px solid #8e9eab;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
  }
  .todo_btn:hover {
    background-color: #fdfc47;
  }
  .todo_items {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 15px auto;
  }
  .todo_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    color: #203a43;
    padding: 4px 8px;
    word-break: break-all;
    text-transform: capitalize;
    cursor: grab;
  }
  
  .done {
    background: #24fe41;
    border-radius: 4px;
  }
  
  .deleteBtn {
    height: 34px;
    width: 80px;
    font-size: inherit;
    line-height: inherit;
    border-radius: 4px;
    border: 1px solid #8e9eab;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
  }
  .deleteBtn:hover {
    background-color: #f00000;
    color: #ece9e6;
  }